html {
    min-height: 100%;
    background: linear-gradient(rgb(136, 192, 238), rgb(67, 78, 177));
    background-attachment: fixed;
}

footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: rgb(67, 78, 177);
}

table {
    border: 1px solid;
    text-align: center;
}
td, th {
    padding: 0.2em;
}